p {
  height: 45px;
  width: 45px;
  border: 3px solid black;
  position: absolute;
  display: none;
}

p:nth-child(1) {
  right: 0px;
}

p:nth-child(2) {
  right: 0px;
  bottom: 0px;
}

p:nth-child(3) {
  bottom: 0px;
}