<!-- <app-block></app-block> -->

<!-- <app-user></app-user> -->

<!-- <h1 [ngStyle]="{color:isAdmin ? 'red' : 'black'}">Bonjour!</h1>
<button>View</button>
<button *ngIf="isAdmin">Edit</button>
<button *ngIf="!isAdmin" (click)="connect()">Connect</button>
<button *ngIf="isAdmin" (click)="disconnect()">Disonnect</button> -->

<!-- <ul>
  <li>
    <a [routerLink]="['/']">HOME</a>
  </li>
  <li>
    <a [routerLink]="['/user']">USER</a>
  </li>
  <li>
    <a [routerLink]="['/block']">BLOCK</a>
  </li>
</ul> -->

<app-my-form (sendOnomatopiaToParent)="onReceiveNewOnomatopia($event)"></app-my-form>
<ul>
  <li *ngFor="let onomatopoeia of onomatopoeiaList">{{onomatopoeia}}</li>
</ul>
<app-menu></app-menu>

<router-outlet></router-outlet>